# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Testing / cache
.pytest_cache/
.coverage

# Model files
models/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db